.App {
  text-align: center;
}

.black-nav{
  font-size: 25px;
display: flex;
background: black;
width: 100%;
color: white;
padding-left: 20px;

}
.push{
  color: red;
}

.modal{
  margin-top: 20px;
  padding:20px;
  background: whitesmoke;
  text-align: left;
}

.list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

div{
  box-sizing: border-box;

}

